version: '3.8'

services:
  app:
    build: .
    container_name: stock_predictor
    ports:
      - "8501:8501"
    restart: always
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - DAGSHUB_USER_TOKEN=${DAGSHUB_USER_TOKEN}